<div class="transfer-page">

  <div class="transfer-left">

    <div class="user-header">
      Hey {{ username | titlecase }}, ready to transfer?
    </div>

    <div class="white-card">
      <h2>Transfer Money</h2>

      <div class="balance-card">
        <div class="card-body">
          <h5 class="card-title">Account Balance</h5>
          <h1 class="card-subtitle">
            {{ balance | currency }}
          </h1>
          <p class="card-text">
            Account {{ elongatedId }}
          </p>
        </div>
      </div>

      <form #transferForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="login-form">

          <label class="form-label">To Account Number</label>
          <input
            type="number"
            class="form-control"
            name="AccountNumber"
            [(ngModel)]="accNo"
            required
            min="1"
            placeholder="Account number of receiver"
            
          />

          <label class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            name="Amount"
            [(ngModel)]="amount"
            required
            min="1"
            placeholder="Amount to transfer"
          />

          <label class="form-label">Remarks</label>
          <input
            type="text"
            class="form-control"
            name="remarks"
            [(ngModel)]="remarks"
            placeholder="Optional Remarks"
          />

        </div>

        <div *ngIf="error" class="error-message">
          {{ error }}
        </div>

        <button
          class="transfer-btn"
          [disabled]="transferForm.invalid">
          Transfer Now
        </button>

      </form>
    </div>

  </div>


  <div class="transfer-right">
    <div class="image-overlay">
      <h1>Secure Transfers</h1>
      <p>Move your money instantly with confidence.</p>
    </div>
  </div>

</div>
