<nav class="notch-navbar">
  <div class="nav-pill">

    <div class="brand" routerLink="/dashboard">
      MTS
    </div>

    <div class="nav-datetime">
      <span>{{ currentDate }}</span>
      <span class="dot">•</span>
      <span>{{ currentTime }}</span>
    </div>

    <div class="nav-links">

      <a routerLink="/transfer">
         Transfer
      </a>

      <a routerLink="/history">
         History
      </a>

      <a routerLink="/rewards">
        Rewards
      </a>

      <a routerLink="/dashboard">
         Profile
      </a>

      <a (click)="logout()">Logout</a>

    </div>

  </div>
</nav>
