<section class="hero-wrapper">
  <div class="hero-content-wrapper">

    <div class="hero-left">
      <div class="hero-text">
        <h5 class="brand-font tracking-widest">MTS</h5>

        <h1 class="hero-title">
          Secure Transfers.<br>
          Smarter Banking.
        </h1>

        <p class="hero-subtext">
          Move money instantly across borders with bank-grade security,
          zero hidden charges, and total transparency.
        </p>
      </div>
    </div>

    <div class="hero-right">
      <div class="login-box">
        <h2 class="heading-font text-navy">Welcome.</h2>
        <p class="muted">Access your financial dashboard.</p>

        <div class="button-group">
          <button class="btn-navy" routerLink="/login">
            Login
          </button>

          <div class="divider">
            <span></span>
            <small>New to MTS?</small>
            <span></span>
          </div>

          <button class="btn-outline-navy" routerLink="/register">
            Register User
          </button>

          <div class="divider">
            <span></span>
            <small>Admin? Log in here.</small>
            <span></span>
          </div>

          <button class="btn-outline-navy" routerLink="/loginadmin">
            Login as Admin
          </button>

          <!-- <div class="divider">
            <span></span>
            <small>New to MTS?</small>
            <span></span>
          </div> -->

          <!-- <button class="btn-outline-navy" routerLink="/registeradmin">
            Create Admin Account
          </button> -->

        </div>
      </div>
    </div>

    

  </div>

  <div class="hero-overlay"></div>
</section>
